* {
  cursor: none !important;
}
html {
  overflow-x: hidden;  
}
body {
  background: $background;
  color: $font-color;
  overflow-x: hidden;  
  width: 100vw;
  max-width: 100vw;
}
main {
  height: auto;
}