/* Breakpoints */
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

/* Colors */

/* backgrounds */
$background: #f0eff1;
$background-home: #E5E5E5;

/* fonts */
$font-color: #131212;
$font-color-heading: black;
$font-color-conditional: white;

/* Z-index */
$in-front: 100;
$in-middle: 50;
$in-back: 0;