/* Breakpoints */
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

/* Colors */

/* backgrounds */
$background: #F7F0E8;
$background-home: $background;
$background-about: $background;
$background-menu: $background;
$background-menu-dark: #000;


/* fonts */
$font-color: #231F20;
$font-color-heading: black;
$font-color-conditional: white;
$font-color-light: #B8B8AF;

/* Z-index */
$in-front: 100;
$in-middle: 50;
$in-back: 0;


$background: #FFFFFF;
$background-text: #F7F5F5;
$background-home: $background;
$background-about: $background;
$background-menu: $background;
$background-about: #000;