/* Breakpoints */
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

/* Colors */

/* backgrounds */
$background: #E5E5E5;
$background-menu: #B8B8AF;
$background-menu-dark: #141414;
$background-home: #E5E5E5;
$background-about: #141414;

/* fonts */
$font-color: #131212;
$font-color-heading: black;
$font-color-conditional: white;

/* Z-index */
$in-front: 100;
$in-middle: 50;
$in-back: 0;

$background: #D3D3CC;
$background-home: #D3D3CC;