.cursor {
  display: flex;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 999999;

  circle {
    stroke: white;
    fill: white;
    mix-blend-mode: difference;
  }
}

.isHovering {
  width: 25px;
  height: 25px;
  mix-blend-mode: normal;
  background-color: black;

  circle {
    mix-blend-mode: normal;    
    background-color: white;
  }
}
