nav {
  position: fixed;
  height: 100%;
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background-color: $background;
}

.nav-logo-wrapper,
.nav-actions-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-actions-wrapper {
  justify-content: flex-end;
}

.nav-logo-wrapper {
  justify-content: flex-start;
}
.nav-logo {
  font-size: clamp(20px, 25px, 3vw);
  max-width: 100%;
  font-weight: 700;
  font-weight: bolder;
  letter-spacing: 0.1em;
  z-index: $in-front + 2;

  background-clip: text;
  background: $font-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-mobile-btn-wrapper {
  display: none;
}
.nav-menu-icon {
  /* Width is set by parent as style prop */
  position: relative;
  height: 6px;
}
.nav-menu-icon::before,
.nav-menu-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid 2px;
}
.nav-menu-icon::before {
  transform: translateY(-3px);
}
.nav-menu-icon::after {
  transform: translateY(3px);
}

.nav-links-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

  .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
  }
  .link {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      height: 0px;
      border: solid 1px;
      background-color: black;
      right: 0;
      left: unset;
      width: 0%;
      transition: width 0.2s ease-out;
      opacity: 0;
      animation: fadeAway 0.2s linear;
    }

    &__selected::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0px;
      width: 100%;
      border: solid 1px;
      background-color: black;
      animation: extend 0.2s linear;
      opacity: 1;
    }

    @keyframes fadeAway {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
        opacity: 1;
        border: solid 1px;
        background-color: black;
        animation: extend 0.2s linear;
      }
    }

    @keyframes extend {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-medium) {
  .nav-mobile-btn-wrapper {
    display: flex;
  }
  .nav-links-wrapper {
    display: none;
  }
}
