nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;  
  width: 100%;
  padding: 0 40px;
  margin: auto;
  text-transform: uppercase;    
}

.nav-logo-wrapper,
.nav-actions-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-actions-wrapper {
  justify-content: flex-end;
}

.nav-logo-wrapper {
  justify-content: flex-start;
}
.nav-logo {
  font-size: clamp(15px, 20px, 3vw);
  font-size: clamp(20px, 25px, 3vw);
  max-width: 100%;
  font-weight: 700;
  font-weight: bolder;
  letter-spacing: 0.1em;
  z-index: $in-front + 2;
}

.nav-mobile-btn-wrapper {
  display: none;
}
.nav-menu-icon {
  /* Width is set by parent as style prop */
  position: relative;
  height: 6px;
}
.nav-menu-icon::before,
.nav-menu-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: solid 2px $font-color-conditional;
}
.nav-menu-icon::before {
  transform: translateY(-3px);
}
.nav-menu-icon::after {
  transform: translateY(3px);
}
.nav-menu-icon-label {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 10px;
  font-size: 15px;
  writing-mode: vertical-lr;
  transform: rotate(0deg) translateX(-50%);
}

.nav-links-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

  .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 60%;
  }
  .link {
    position: relative;    
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;

    &__selected::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0px;
      width: 100%;
      border: solid 1px;
      background-color: black;
      animation: extend 0.2s linear;
    }

    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 0px;
        width: 100%;
        border: solid 1px;
        background-color: black;
        animation: extend 0.2s linear;
      }

      @keyframes extend {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-medium) {
  .nav-mobile-btn-wrapper {
    display: flex;
  }
  .nav-links-wrapper {
    display: none;
  }
}
