// background-color: #df6e1111;
.projects-desktop-wrapper {
  position: relative;
  background-color: $background;
  overflow: hidden !important;  
}
.projects-desktop {
  background-color: $background;
  padding: 10vh 0;
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  will-change: transform;
  overflow: hidden;
}
.project-desktop-wrapper {
  position: relative;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-desktop-img-wrapper {
  display: inline-block;
  width: 55%;
  height: 70%;
//   border: solid 1px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  img {
    display: inline-block;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    transform-origin: center;
    border-radius: 10px;
    will-change: transform;
    height: 100%;
    width: 100%;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%);
    filter: brightness(30%);
  }
}

.project-desktop-title-wrapper {
  will-change: transform;
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;  
  pointer-events: all;
  color: white;
  transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
  
  h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(40px, 8vw, 80px);
      max-width: 100%;
      font-weight: bolder;
      font-weight: 900;
      position: relative;
      text-transform: uppercase;
    }
}

.project-desktop-circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(235, 154, 92);
    width: 50px;
    height: 50px;    
    border-radius: 100%;
    mix-blend-mode: hard-light;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

.project-desktop-img-wrapper:hover {
    img {
        // filter: grayscale(0);
        // filter: brightness(normal);
    }

    .project-desktop-circle {
        transform: scale(16);
    }
}
