.projects-desktop-wrapper {
  // border: solid;
  position: relative;
  background-color: $background;
  overflow: hidden !important;
}

.projects-desktop {
  background-color: $background;
  padding: 10vh 0;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  will-change: transform;
  overflow: hidden;
}
.project-desktop-wrapper {
  position: relative;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-desktop-img-wrapper {
  display: inline-block;
  position: relative;
  width: 55%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  
  img {
    display: inline-block;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    transform-origin: center;
    border-radius: 10px;
    will-change: transform;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%);
    filter: brightness(30%);
    width: 100%;
    height: auto;
    max-height: 70%;
  }
}

.project-desktop-title-wrapper {
  will-change: transform;
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  color: white;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2vw, 6vw, 8vw);
    max-width: 100%;
    font-weight: bolder;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
  }
}

.project-desktop-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  mix-blend-mode: hard-light;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  background-clip: content-box;
  background: rgba($color: #000000, $alpha: 0.7);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: transparent;
}

.project-desktop-github {
  position: absolute;
  top: 10px;
  left: 10px;

  color: white;
}

.project-desktop-img-wrapper:hover {
  .project-desktop-circle {
    transform: scale(16);
  }
}
