.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-home;
}

.home-section-text-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  max-width: 80%;
}
.home-section-text-subtitle,
.home-section-text-title,
.home-section-text-paragraph {
  line-height: 1.5;
}
.home-section-text-subtitle {
  font-size: 20px;
  max-width: 100%;
  font-weight: bolder;
}
.home-section-text-title {
  font-size: clamp(40px, 8vw, 80px);
  max-width: 100%;
  font-weight: bolder;
  color: $font-color-heading;
}
.home-section-text-paragraph {
  font-size: clamp(15px, 20px, 16px);
  margin-top: 20px;
  max-width: 480px;
}

// @media screen and (max-width: $layout-breakpoint-xsmall) {
//   .home-section-text-wrapper {
//     div {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       width: 100%;
//     }
//   }
//   .home-section-text-subtitle,
//   .home-section-text-title,
//   .home-section-text-paragraph {
//     text-align: center;
//   }
// }
